.idea
.vscode
*.xlaunch
hw1/projection_front1.png
hw1/projection_front2.png
hw1/selected_pixels_front1.png
hw1/selected_pixels_front2.png
/hw1/output
*.pyc
hw2/path_map.png
hw2/occupancy_map.png
/hw2/results/habitat_visualization
/hw2/results
hw2/simplified_path_map.png
habitat-sim
*.docx
/hw3/ravens/block-insertion-easy-test
/hw3/ravens/checkpoints/block-insertion-easy-transporter-1000-0
*.zip
